body {
  background-color: rgb(80, 80, 80);
  font: inherit;
  font-family: "Courier New", Courier, monospace;
  color: red;
  text-align: center;
}

h1 {
  font-size: 60px;
}

#grid {
  margin: 50px auto;
  width: 320px;
}

.group:after {
  clear: both;
  display: table;
  content: "";
}

.cell {
  display: block;
  float: left;
  width: 38px;
  height: 38px;
  border: 1px solid rgb(50, 25, 40);
  background-color: #eee;
  text-align: center;
  line-height: 38px;
  vertical-align: middle;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 130%;
}

.mines-amt-1 {
  color: blue;
}

.mines-amt-2 {
  color: green;
}

.mines-amt-3 {
  color: red;
}

.mines-amt-4 {
  color: purple;
}

.mines-amt-5 {
  color: rgb(100, 30, 30);
}

.mines-amt-6 {
  color: rgb(100, 100, 30);
}

.mines-amt-7 {
  color: rgb(100, 30, 100);
}

.mines-amt-8 {
  color: rgb(30, 30, 100);
}

.mine-img {
  opacity: 1;
  display: block;
  width: 100%;
  opacity: 0;
}

.hidden {
  background-color: #ccc;
  color: #ccc;
  cursor: pointer;
}

.hidden:hover {
  background-color: #aaa;
  color: #aaa;
}

.play-again {
  display: none;
  color: rgb(23, 170, 255);
  margin: 50px;
  text-align: center;
  font-size: 300%;
}

.won {
  display: none;
}

.lost {
  display: none;
}

.yes {
  cursor: pointer;
  display: inline;
}

.no {
  cursor: pointer;
  display: inline;
}

.yes:hover, .no:hover {
  color: rgb(220, 220, 220);
}

.thanks {
  display: none;
  color: rgb(23, 170, 255);
  margin: 20px;
  text-align: center;
  font-size: 300%;
}

#validate {
  margin: auto;
  width: 60px;
  cursor: pointer;
}

#validate > img {
  display: block;
  width: 100%;
}